body{
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ec7hwrKKxik52rser/4k-white-clean-bokeh-background-animation-seamless-loop_v4gh9vafe__F0000.png");
}

#heading{
    font-family: "Phosphate", sans-serif;
    letter-spacing: 3px;
    word-spacing: 6px;
    font-size: 60px;
    line-height: 0.5;
}


#nameHeading{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 32px;
    color: #ad1e17;
}

#info{
    font-size: 16px;
    color: #000000;
    text-align: justify;
}

span {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 72px;
    color: #ad1e17;
}

div{
    text-indent: 40px;
    margin-bottom: 10px;
    line-height: 20px;
}

button{
    font-size: 40px;
    font-family: "Nanum Pen Script", sans-serif;
    margin: 15px;
    height:50px;
    width:50px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: bold;
}

button:hover{
    background: rgb(185, 187, 217);
    transform: scale(1.5);
}