body{
    background-image: url("../images/beachpic.png");
}

div{
    position:absolute;
    bottom: 20px;
    left: 20px;
}

button{
    font-size: 40px;
    font-family: "Nanum Pen Script", sans-serif;
    margin: 15px;
    height:50px;
    width:50px;
    border-radius: 8px;
    /*border: 0px solid #000000;*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#hanger{
    position: absolute;
    bottom: 100px;
    right: -600px;
}

#guesses{
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: 50px;
    position: absolute;
    bottom: -20px;
    right: -350px;
}

#numGuesses{
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: 55px;
    position: absolute;
    bottom: -25px;
    right: -385px;
    font-weight: bold;
}

button:hover{
    background: rgb(185, 187, 217);
    transform: scale(1.5);
}

:disabled{
    pointer-events: none;
}

#dashes{
    font-family: "Nanum Pen Script", sans-serif;
    position: absolute;
    bottom: 500px;
    left: 140px;
}

#indvletters{
    margin: 20px;
    font-size: 170px;
}

#longWord{
    margin: 3px;
    font-size: 155px;
}

#writtenLetters{
    font-family: "Monaco", sans-serif;
    font-size: 105px;
    position: absolute;
    bottom: 425px;
    left: 170px;
}

#longWrittenLetters{
    font-family: "Monaco", sans-serif;
    font-size: 104px; /*was 135px*/
    letter-spacing: 22px;
    position: absolute;
    bottom: 425px;
    left: 150px;
}