html {
    background: url('../images/overallbg.jpg');

    text-align: center;
    font-family: "Phosphate", sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
    line-height: 0.5;
}

#opening {
    font-size: 60px;
    margin-top: 230px;
}

button {
    font-family: "Nanum Pen Script", sans-serif;
    font-size: 35px;
    height:100px;
    width:150px;
    margin: 5px;
    border-radius: 10px;
    border: 0px solid #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

span {
    font-family: "Nanum Pen Script", sans-serif;
    font-size: 100px;
    color: #ad1e17;
}

#muteButton {
    background-image: url('../images/unmuted.png');
    /*background-color: rgba(0,0,0,0);*/
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: absolute;
    top: 1%;
    left: 94%;
    width: 48px;
    height: 50px;
    border: none;
}

#leaderboard {
    vertical-align: top;
    text-align: left;
}