body
{
    background-image: url("../images/sportbackground.png");

    background-size:100%;

}
.mainWrap
{
    min-width:1600px;
    height:1000px;

}
div{
    position:absolute;
    bottom: 5%;

}

button{
    font-size: 40px;
    font-family: "Nanum Pen Script", sans-serif;
    margin: 15px;
    height:50px;
    width:50px;
    border-radius: 8px;
    /*border: 0px solid #000000;*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#hanger{
    position: absolute;
    bottom: 100px;
    right: -600px;
}

#guesses{
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: 50px;
    position: absolute;
    bottom: -20px;
    right: -350px;
}

#numGuesses{
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: 55px;
    position: absolute;
    bottom: -25px;
    right: -385px;
    font-weight: bold;
}

button:hover{
    background: rgb(185, 187, 217);
    transform: scale(1.5);
}

:disabled{
    pointer-events: none;
}

#dashes{
    font-family: "Nanum Pen Script", sans-serif;
    position: absolute;
    bottom: 500px;
    left: 140px;
}

#indvletters{
    margin: 20px;
    font-size: 170px;
}

#longWord{
    margin: 3px;
    font-size: 155px;
}

#writtenLetters{
    font-family: "Monaco", sans-serif;
    font-size: 105px;
    position: absolute;
    bottom: 415px;
    left: 170px;
}

#longWrittenLetters{
    font-family: "Monaco", sans-serif;
    font-size: 104px;
    letter-spacing: 22px;
    position: absolute;
    bottom: 415px;
    left: 150px;
}

#manPicture{
    zoom: 38%;
}

#loser{
    position:absolute;
    display: block;
    top: 25%;
    left: 27%;
    width: 43%;
    z-index: 1;
}

#winner{
    position:absolute;
    display: block;
    top: 25%;
    left: 27%;
    width: 43%;
    z-index: 1;
}

#playAgain{
    position:absolute;
    top: 50%;
    right: 52%;
    z-index: 2;
    height: 100px;
    width: 150px;
    font-size: 30px;
    background-image: url("../images/sports.png");
}

#newCategory{
    position:absolute;
    top: 50%;
    right: 40%;
    z-index: 2;
    height: 100px;
    width: 150px;
    font-size: 30px;
    background-color: rgba(134,0,0,0.78)
}

#afterGameWord{
    position: absolute;
    top: 42.5%;
    left: 39%;
    z-index: 2;
    font-size: 40px;
    font-family: "Nanum Pen Script", sans-serif;
}