body, html{
    /*background-size: contain;*/
}

#bg{
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainWrap
{
    position: relative;
    min-width:1600px;
    min-height:960px;
    right: 0%;
    left: 0%;
    top: 0%;
    bottom: 0%;
}
#keyDiv{
    position:absolute;
    top: 65%;
    left: 3%;
}


button{
    font-size: 40px;
    font-family: "Nanum Pen Script", sans-serif;
    margin: 15px;
    height:50px;
    width:50px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#hanger{
    position: absolute;
    top: 18%;
    left: 65%;
}

#guesses{
    position: absolute;
    top: 86%;
    left: 69%;
}

#numGuesses{
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: 55px;
    position: absolute;
    top: 79%;
    left: 86%;
    font-weight: bold;
}

button:hover{
    transform: scale(1.5);
    cursor: pointer;
}

:disabled{
    pointer-events: none;
}

#dashes{
    font-family: "Nanum Pen Script", sans-serif;
    position: absolute;
    top: 30%;
    left: 140px;
    table-layout: fixed;
}

#indvletters{
    margin: 20px;
    font-size: 170px;
    width: 123px;
}

#longWord{
    margin: 3px;
    font-size: 155px;
    width: 81px;
}

#writtenLetters{
    font-family: "Nanum Pen Script", sans-serif;
    font-size: 120px;
    table-layout: fixed;
    position: absolute;
    top: 37%;
    left: 170px;
}

#shortTD{
    width: 123px;
    vertical-align: bottom;
    text-align: left;
}

#longWrittenLetters{
    font-family: "Nanum Pen Script", sans-serif;
    font-size: 105px;
    table-layout: fixed;
    position: absolute;
    top: 37%;
    left: 150px;
}

#longTD{
    width: 81px;
    vertical-align: bottom;
    text-align: left;
}

#manPicture{
    zoom: 38%;
}

#enterName{
    position: absolute;
    top: 28%;
    left: 39%;
    z-index:2;
    font-size: 50px;
    font-family: "Nanum Pen Script", sans-serif;
    font-weight: bold;
}

#nameInput{
    position: absolute;
    top: 43%;
    left: 41%;
    z-index: 2;
    width: 200px;
    height: 20px;
}

#OK{
    position:absolute;
    top: 50%;
    right: 44%;
    z-index: 2;
    height: 50px;
    width: 80px;
    font-size: 30px;
}

#noThanks{
    position:absolute;
    top: 50%;
    right: 50.5%;
    z-index: 2;
    height: 50px;
    width: 150px;
    font-size: 30px;
}

#explanation{
    position: absolute;
    top: 58%;
    left: 31.5%;
    z-index:2;
    font-size: 28px;
    font-family: "Nanum Pen Script", sans-serif;
    font-weight: bold;
}


#getInfobg{
    position:absolute;
    display: block;
    top: 25%;
    left: 27%;
    width: 730px;
    z-index: 1;
}

#loser{
    position:absolute;
    display: block;
    top: 25%;
    left: 27%;
    width: 730px;
    z-index: 1;
}

#winner{
    position:absolute;
    display: block;
    top: 25%;
    left: 27%;
    width: 730px;
    z-index: 1;
}

#playAgain{
    position:absolute;
    top: 50%;
    right: 52%;
    z-index: 2;
    height: 100px;
    width: 150px;
    font-size: 30px;
    background-image: url('../images/beach.png');
}

#newCategory{
    position:absolute;
    top: 50%;
    right: 40%;
    z-index: 2;
    height: 100px;
    width: 150px;
    font-size: 30px;
    background-color: rgba(134,0,0,0.78)
}

#afterGameWord{
    position: absolute;
    top: 42.75%;
    left: 38.5%;
    z-index:2;
    font-size: 40px;
    font-family: "Nanum Pen Script", sans-serif;
}

#winStreak{
    position: absolute;
    top: 60.5%;
    left: 53%;
    z-index: 2;
    font-size: 30px;
    font-family: "Nanum Pen Script", sans-serif;
}

#muteButton{
    background-image: url('../images/unmuted.png');
    position: absolute;
    top: 1%;
    left: 94%;
}

#homeButton{
    position: absolute;
    top: 1%;
    left: 1%;
}

#xButton{
    position: absolute;
    top: 26%;
    left: 66%;
    height: 35px;
    width: 35px;
    font-size: 30px;
    z-index: 2;
}